---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">

    <div id="portfolio">

    </div>

    <script is:inline src="/scripts/miniConsole.js"></script>
    <script is:inline src="/scripts/console.js"></script>

</Layout>